.node-red/flows.json
[{"id":"17693db7.e9f6a2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"85c8d4ea.d18508","type":"inject","z":"17693db7.e9f6a2","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":250,"y":220,"wires":[["d2579634.a1d048"]]},{"id":"d2579634.a1d048","type":"debug","z":"17693db7.e9f6a2","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":440,"y":220,"wires":[]},{"id":"48e47eed.bc012","type":"http in","z":"17693db7.e9f6a2","name":"","url":"/","method":"get","upload":false,"swaggerDoc":"","x":230,"y":380,"wires":[["76475f9a.1faaf"]]},{"id":"750a706d.098eb","type":"http response","z":"17693db7.e9f6a2","name":"","statusCode":"","headers":{},"x":490,"y":380,"wires":[]},{"id":"76475f9a.1faaf","type":"template","z":"17693db7.e9f6a2","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"Hello from Node-RED running on OpenShift!","output":"str","x":360,"y":380,"wires":[["750a706d.098eb"]]}]