.node-red/flows.json
[{"id":"17693db7.e9f6a2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"85c8d4ea.d18508","type":"inject","z":"17693db7.e9f6a2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":220,"wires":[["d2579634.a1d048"]]},{"id":"d2579634.a1d048","type":"debug","z":"17693db7.e9f6a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":220,"wires":[]},{"id":"48e47eed.bc012","type":"http in","z":"17693db7.e9f6a2","name":"","url":"/","method":"get","upload":false,"swaggerDoc":"","x":260,"y":380,"wires":[["750a706d.098eb"]]},{"id":"750a706d.098eb","type":"http response","z":"17693db7.e9f6a2","name":"","statusCode":"","headers":{},"x":540,"y":380,"wires":[]},{"id":"76475f9a.1faaf","type":"template","z":"17693db7.e9f6a2","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Hello to Node-RED on OpenShift!","output":"str","x":400,"y":380,"wires":[[]]}]